{{ block "index" . }}
    <!DOCTYPE htnml>
    <html lang="pt-br">
        <head>
            <title>Recepção</title>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <link rel="stylesheet" href="/dist/tailwind.css" />
            <script src="https://unpkg.com/htmx.org"></script>
        </head>
        <body class="bg-[#5b5a57] text-white">
            {{ template "body" . }}
        </body>
    </html>
{{ end }} 

{{ block "body" . }}
    <div class="">
        <div class="m-auto w-[75vw]">
            {{ template "apps" . }}
            {{ template "config" . }}
        </div>
    </div>
{{ end }}

{{ block "apps" . }}
    <div>
        <p class="text-center m-5">Apps</p>
        <hr class="" />
        <div class="m-2 flex flex-row flex-wrap grow gap-5 justify-center">
            {{ range .Apps }}
                {{ template "card" . }}
            {{ end }}
        </div>
    </div>
{{ end }}

{{ block "config" . }}
    <div>
        <p class="text-center m-5">Setup</p>
        <hr class="" />
        <div class="m-2 flex flex-row flex-wrap grow gap-5 justify-center">
            {{ range .Config }}
                {{ template "card" . }}
            {{ end }}
        </div>
    </div>
{{ end }}

{{ block "card" . }}
    <div class="w-32 border border-solid border-whitesmoke rounded-xl p-3 m-1">
        <a href='{{ .Path }}' target="_blank">
            <div class="is-relative">
                <figure class="b-image-wrapper is-64x64">
                    <img src='{{ .Img }}' loading="lazy" class="m-auto" width="64" />
                </figure>
            </div>
            <p class="text-center mt-2">{{ .Name }}</p>
        </a>
    </div>
{{ end }}