{{ block "index" . }}
    <!DOCTYPE htnml>
    <html lang="pt-br">
        <head>
            <title>Recepção</title>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <link rel="stylesheet" href="/dist/tailwind.css" />
            <script src="https://unpkg.com/htmx.org"></script>
        </head>
        <body class="bg-[#5b5a57] text-white">
            {{ template "body" .}}
        </body>
    </html>
{{ end }} 

{{ block "body" . }}
<div class="">
    <div class="m-2">
        <p class="text-center m-5">Apps Abertos</p>
        <div>
            {{ template "list" . }}
        </div>
    </div>
</div>
{{ end }}

{{ block "list" . }}
    <div class="m-2">
        {{ range .Apps }}
            <div class="h-[6-rem] w-[6-rem] border border-solid border-whitesmoke border-radius-lg p-3">
                <a href={{ .Path }}>
                    <div class="is-relative">
                        <figure class="b-image-wrapper is-64x64 image start">
                            <img src={{ .Img }} loading="lazy" class="" width="64" />
                        </figure>
                    </div>
                    <p class="text-center m-2">{{ .Name }}</p>
                </a>
            </div>
        {{ end }}
    </div>
{{ end }}
